<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/app.css" >
</head>
<body ng-app="app" ng-controller="ApplicationCtrl">     <!-- ApplicationCtrl is the highest level ctrl-->
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class='nav navbar-nav'>
                <li><a href='/#/'>Posts</a></li>
                <li><a href='/#/register'>Register</a></li>
                <li><a href='/#/login'>Login</a></li>
            </ul>
            <p ng-if="currentUser" class="navbar-text navbar-right">
                Signed in as {{currentUser.username}}
            </p>
        </div>
    </nav>

    <div ng-view class="container">
    </div>
    <!--<div ng-controller="PostsCtrl" class="container">-->
        <!-- templates/posts.html -->
    <!--</div>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="/app.js"></script>
</body>
</html>